# environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# backend
backend/vendor/
backend/var/
backend/.env
backend/.env.local
backend/.env.*.local

# frontend
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/dist/
frontend/.nuxt/
frontend/.output/

# database
database/data/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db